<!DOCTYPE >
<html >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>goryd</title>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }
        p,
        h2 {
            margin: 0;
        }

        div,
        p,
        ul,
        h2,
        h2 {
            margin: 0;
        }

        h2.bigger,
        h2.bigger {
            font-size: 32px;
            font-weight: normal;
        }

        h2.big,
        h2.big {
            font-size: 21px;
            font-weight: normal;
        }

        a.link1 {
            color: #62A9D2;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
        }

        a.link2 {
            padding: 8px;
            background: #62A9D2;
            font-size: 13px;
            color: #eeeeee;
            text-decoration: none;
            font-weight: bold;
        }

        a.link3 {
            background: #62A9D2;
            color: #eeeeee;
            padding: 8px 10px;
            text-decoration: none;
            font-size: 13px;
        }

        .bgBody {
            background: #eeeeee;
        }

        .bgItem {
            background: #eeeeee;
        }

    </style>
</head>
<body paddingwidth="0" paddingheight="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
      offset="0" toppadding="0" leftpadding="0" style="margin-left:5px; margin-right:5px; margin-top:0px; margin-bottom:0px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" style='font-family:helvetica, sans-serif;'>
      <tbody>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td valign="top" class="spechide">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                         <tr>
                            <td height='130' bgcolor='#1c3d86'>&nbsp;</td>
                         </tr>
                         <tr>
                           <td>&nbsp;</td>
                         </tr>
                      </tbody>
                    </table>
                  </td>
                  <td valign="top" width="600">
                     <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer" bgcolor="#ffffff">
                        <tbody>
                            <tr style='margin-top:120px;'>
                            <td>
                                <div style="border: 0px; padding-top:20px;background-color:#1c3d86; position: relative;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                        <tr>
                                            <td style="background-color:#1c3d86;" valign='top'>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                    <tr>
                                                        <td align='left' valign='middle'>
                                                            <div >
                                                                <div class="">
                                                                    <img src="../img/logo-white.png" alt='logo' data-default="placeholder" data-max-width="300" width='129' height='50'>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td align='right' valign='middle'>
                                                            <div  style='display:inline-block;'>
                                                                <a target='_blank' href="http://www.goryd.in/" style="float:right;text-decoration:none;color:#eeeeee;border:1px solid #eeeeee;padding:8px;margin-top:10px;">Share Your car</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                      </table>
                                  </div>
                                  <div style="padding-top: 0px; position: relative;">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                          <tr>
                                              <td height='25' bgcolor='#1c3d86'></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <table style="border:1px solid #e0e0e0;background-color:#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgItem'>
                                                    <tr height="50">
                                                        <td width='70'></td>
                                                        <td align='center' width='530'>
                                                            <div >
                                                                <div  style='color:#616161;font-size:24px;font-weight:normal;'>
                                                                    <h2 class='big' style="font-weight:500;">
                                                                        Hello<span style="font-weight:600;"> {{name}}</span>
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                          </td>
                                                          <td width='70'></td>
                                                      </tr>
                                                       <tr>
                                                          <td width='70'></td>
                                                             <td align='center' width='530'>
                                                                 <p style="line-height:150%;font-size:16px;color:#757575;padding-bottom:16px;">
                                                                   Thank you for registering with us!</br>
                                                                   <span style="font-weight:500;font-size:110%;">Go ride now!</span>
                                                                 </p>
                                                             </td>
                                                           <td  width='70'></td>
                                                        </tr>
                                                  </table>
                                              </td>
                                          </tr>
                                        </table>
                                      </div>
                                      <div  style="padding-top: 0px; position: relative;height:20px; background-color:#eeeeee;">
                                      </div>

                                      <div style="padding-top: 0px;border:1px solid #e0e0e0;border-bottom:0; position: relative;height:70px; background-color:#1c3d86;">
                                          <p style="line-height:150%;font-size:20px;color:#eeeeee;padding:20px 0 0 20px;">
                                            Renter's Journey
                                          </p>
                                      </div>
                                  <div  style="border:1px solid #e0e0e0;border-top:0; padding-top: 0px; position: relative;">
                                  	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                              <tr>
                                                <td width='16' class="spechide">&nbsp;</td>
                                                <td width="568" class="specbundle2">
                                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' >
                                                    <tr>
                                                      <td align='left' valign='top'>

                                                    </td>
                                                  </tr>
                                                  <tr><td height='16'>&nbsp;</td></tr>
                                                  <tr>
                                                    <td align='left' valign='top'>
                                                      <div  >
                                                       <div  style='color:#9E9E9E;font-size:13px;line-height:19px;'>
                                                         <!-- <div style="border-radius:50%;height:100px;width:100px;background-color:#00796B;margin:auto">
                                                            <p style="text-align:center;font-size:18px;padding-top:42px;color:#FFFFFF">start</p>
                                                         </div> -->
                                                         <ul style="list-style-type:none;">
                                                           <li>
                                                              <img style="float:left;" src="https://hakin9.org/wp-content/uploads/2015/01/strategic-planning-icon1-460x460.png" height="30" width="30" />
                                                              <p style="margin-left:40px;">
                                                                  <span style="font-size:110%;font-weight:600;">
                                                                    Become a verified renter
                                                                  </span></br>
                                                                  Upload your driving license and identify proof to get verified
                                                              </p>
                                                           </li>
                                                           <li style="margin-top:10px">
                                                             <img style="float:left;" src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Car-icon.png" height="30" width="30" />
                                                             <p style="margin-left:40px;">
                                                                 <span style="font-size:110%;font-weight:600;">
                                                                    Find your dream car
                                                                 </span></br>
                                                                 Search your favorite car from Goryd collection and send booking request for it
                                                             </p>
                                                           </li>
                                                           <li style="margin-top:10px">
                                                             <img style="float:left;" src="http://www.cerounosoftware.com/common-files/icons/rocket-big-grey-bg@2x.png" height="30" width="30" />
                                                             <p style="margin-left:40px;">
                                                                 <span style="font-size:110%;font-weight:600;">
                                                                  Get ready
                                                                 </span></br>
                                                                 Once car owner approves your request, get ready to pick your car
                                                             </p>
                                                           </li>
                                                            <li style="margin-top:10px">
                                                             <img style="float:left;" src="http://www2.deloitte.com/content/dam/Deloitte/ie/Images/promo_images/ie-icon-4-1x1.jpg" height="30" width="30" />
                                                             <p style="margin-left:40px;">
                                                                 <span style="font-size:110%;font-weight:600;">
                                                                    Time to leave
                                                                 </span></br>
                                                                 Collect your car keys from the owner and drive your dream car
                                                             </p>
                                                           </li>
                                                         </ul>
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                                <tr><td height='20'>&nbsp;</td></tr>
                                                <tr>
                                                  <td align='right' valign='top' style='padding-bottom:8px;'>
                                                    <div  >
                                                     <div  >
                                                      <a target='_blank' class='link2' href="http://www.goryd.in/#/" style='padding:8px;background:#1c3d86;font-size:13px;color:#eeeeee;text-decoration:none;font-weight:bold;'>Find out more →</a>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td width='16' class="spechide">&nbsp;</td>
                                        </tr>
                                        <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                                      </table>
                                  </div>
                                  <div  style="padding-top: 0px; position: relative;height:20px; background-color:#eeeeee;">
                                  </div>
                                  <div  style="border: 0px; padding-top: 0px; position: relative;">
                                  	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgBody' >
                                          <tr>
                                            <td valign='top' align='center'>
                                              <p style="margin-top:20px;"><a  style="color:#1c3d86; font-size:13px;line-height: 16px;text-decoration:none;"href="http://www.goryd.in/">For further inquiry, visit our website</a></p>
                                              <p style="color:#9E9E9E; font-size:13px;line-height: 16px;">Copyright &copy; Eneo Technologies Pvt. Ltd. All rights reserved.</br>Have a question? Email us at<a href="mailto:support@goryd.in" style="color:#1c3d86; font-size:13px;line-height: 16px;text-decoration:none;"> support@goryd.in</a>
                                            </td>
                                          </tr>
                                      </table>
                                  </div>
                                  <tr><td colspan='3' height='40' bgcolor="#EEEEEE">&nbsp;</td></tr>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                </td>
                <td valign="top" class="spechide">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td height='130' bgcolor='#1c3d86'>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                        </tbody>
                  </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
</body>
</html>
