<html xmlns="http://www.w3.org/1999/xhtml">
    <body class="full-padding" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: #fefefe;">
        <div class="wrapper" style="background-color: #fefefe;">
            <table class="layout layout--no-gutter" style="border-collapse: collapse;table-layout: fixed;Margin-left: auto;Margin-right: auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #fefefe;" align="center">
                <tbody>
                    <tr>
                        <td class="column" style="padding: 0;text-align: left;vertical-align: top;color: #353638;font-size: 14px;line-height: 21px;font-family: Merriweather,Georgia,serif;width: 600px;">
                            <div class="image" style="font-size: 12px;font-style: normal;font-weight: 400;" align="center">
                                <img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top" style="display: block;border: 0;max-width: 480px;" src="cid:logo.png" alt="" width="240" height="186"/>
                            </div>
                            <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
                                <p class="size-17" style="Margin-top: 20px;Margin-bottom: 20px;font-size: 17px;line-height: 26px;text-align: center;">Hello
                                    {{name}}</p>
                                <h1 class="size-30" style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #353638;font-size: 30px;line-height: 38px;text-align: center;">Welcome to Goryd</h1>
                                <p class="size-17" style="Margin-top: 20px;Margin-bottom: 20px;font-size: 17px;line-height: 26px;text-align: center;">Thank you for subscribing with us, we will now keep you updated.
                                </p>
                            </div>
                            <div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 24px;">
                                <div class="btn btn--flat" style="text-align:center;">
                                    <a
                                        style="border-radius: 4px;display: inline-block;font-weight: bold;text-align: center;text-decoration: none !important;transition: opacity 0.1s ease-in;color: #fff;background-color: #70717d;font-family: Merriweather, Georgia, serif;font-size: 14px;line-height: 24px;padding: 12px 35px;"
                                        href="http://www.goryd.in"
                                        data-width="76">Visit our Website</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table
                class="layout layout--no-gutter"
                style="border-collapse: collapse;table-layout: fixed;Margin-left: auto;Margin-right: auto;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: #ffffff;"
                align="center"
                emb-background-style>
                <tbody>
                    <tr>
                        <td class="column" style="padding: 0;text-align: left;vertical-align: top;color: #353638;font-size: 14px;line-height: 21px;font-family: Merriweather,Georgia,serif;width: 300px;">
                            <div class="image" style="font-size: 12px;font-style: normal;font-weight: 400;" align="center">
                                <img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top" style="display: block;border: 0;max-width: 480px;padding: 10px;" src="cid:sharing-bg.jpg" alt="" width="300" height="186"/>
                            </div>
                            <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 20px;">
                                <h3 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #353638;font-size: 16px;line-height: 24px;">
                                    <strong>
                                        <em>Why should you share?</em>
                                    </strong>
                                </h3>
                                <p style="Margin-top: 12px;Margin-bottom: 20px;">Extra Income
                                    <br>
                                    Meet awesome People
                                    <br>
                                    Get your car equipped with cutting edge technology
                                    <br>
                                </p>
                            </div>
                        </td>

                        <td class="column" style="padding: 0;text-align: left;vertical-align: top;color: #353638;font-size: 14px;line-height: 21px;font-family: Merriweather,Georgia,serif;width: 300px;">
                            <div class="image" style="font-size: 12px;font-style: normal;font-weight: 400;" align="center">
                                <img class="gnd-corner-image gnd-corner-image-center gnd-corner-image-top" style="display: block;border: 0;max-width: 480px; padding: 10px;" src="cid:why-us.jpg" alt="" width="300" height="186"/>
                            </div>
                            <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 20px;">
                                <h3 style="Margin-top: 0;Margin-bottom: 0;font-style: normal;font-weight: normal;color: #353638;font-size: 16px;line-height: 24px;">
                                    <em>
                                        <strong>Why Us?</strong>
                                    </em>
                                </h3>
                                <p style="Margin-top: 12px;Margin-bottom: 20px;">Hassle Free
                                    <br>
                                    Rent from your neighbourhood
                                    <br>
                                    Unlimited choices
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div style="background-color: grey;color:white;">
                    <div style="padding:5px" align="center">
                        Copyright &copy; Eneo Technologies Pvt. Ltd. All rights reserved.
                    </div>
                    <div style="padding:5px; font-size: 12px;" align="center">
                        Have a question? Email us at
                        <a href="mailto:support@goryd.in" style="color:white;">support@goryd.in</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
