<!DOCTYPE >
<html >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>goryd</title>
    <style type="text/css">
        body {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            margin: 0 !important;
            width: 100% !important;
            -webkit-text-size-adjust: 100% !important;
            -ms-text-size-adjust: 100% !important;
            -webkit-font-smoothing: antialiased !important;
        }
        p,
        h2 {
            margin: 0;
        }

        div,
        p,
        ul,
        h2,
        h2 {
            margin: 0;
        }

        h2.bigger,
        h2.bigger {
            font-size: 32px;
            font-weight: normal;
        }

        h2.big,
        h2.big {
            font-size: 21px;
            font-weight: normal;
        }

        a.link1 {
            color: #62A9D2;
            font-size: 13px;
            font-weight: bold;
            text-decoration: none;
        }

        a.link2 {
            padding: 8px;
            background: #62A9D2;
            font-size: 13px;
            color: #eeeeee;
            text-decoration: none;
            font-weight: bold;
        }

        a.link3 {
            background: #62A9D2;
            color: #eeeeee;
            padding: 8px 10px;
            text-decoration: none;
            font-size: 13px;
        }

        .bgBody {
            background: #eeeeee;
        }

        .bgItem {
            background: #eeeeee;
        }

    </style>
</head>
<body paddingwidth="0" paddingheight="0" style="padding-top: 0; padding-bottom: 0; padding-top: 0; padding-bottom: 0; background-repeat: repeat; width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;"
      offset="0" toppadding="0" leftpadding="0" style="margin-left:5px; margin-right:5px; margin-top:0px; margin-bottom:0px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tableContent bgBody" align="center" style='font-family:helvetica, sans-serif;'>
      <tbody>
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td valign="top" class="spechide">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tbody>
                         <tr>
                            <td height='130' bgcolor='#1c3d86'>&nbsp;</td>
                         </tr>
                         <tr>
                           <td>&nbsp;</td>
                         </tr>
                      </tbody>
                    </table>
                  </td>
                  <td valign="top" width="600">
                     <table width="600" border="0" cellspacing="0" cellpadding="0" align="center" class="MainContainer" bgcolor="#ffffff">
                        <tbody>
                            <tr style='margin-top:120px;'>
                            <td>
                                <div style="border: 0px; padding-top:20px;background-color:#1c3d86; position: relative;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                        <tr>
                                            <td style="background-color:#1c3d86;" valign='top'>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                    <tr>
                                                        <td align='left' valign='middle'>
                                                            <div >
                                                                <div class="">
                                                                    <img src="../img/logo-white.png" alt='logo' data-default="placeholder" data-max-width="300" width='129' height='50'>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <!-- <td align='right' valign='middle'>
                                                            <div  style='display:inline-block;'>
                                                                <a target='_blank' href="http://www.goryd.in/" style="float:right;text-decoration:none;color:#eeeeee;border:1px solid #eeeeee;padding:8px;margin-top:10px;">Share Your car</a>
                                                            </div>
                                                        </td> -->
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                      </table>
                                  </div>
                                  <div style="padding-top: 0px; position: relative;">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                          <tr>
                                              <td height='25' bgcolor='#1c3d86'></td>
                                          </tr>
                                          <tr>
                                            <td>
                                                <table style="border:1px solid #e0e0e0;background-color:#ffffff" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgItem'>
                                                    <tr height="50">
                                                        <td width='70'></td>
                                                        <td align='center' width='530'>
                                                            <div >
                                                                <div  style='color:#616161;font-size:24px;font-weight:normal;'>
                                                                    <h2 class='big' style="font-weight:500;">
                                                                        Hello<span style="font-weight:600;"> {{name}}</span>
                                                                    </h2>
                                                                </div>
                                                            </div>
                                                          </td>
                                                          <td width='70'></td>
                                                      </tr>
                                                       <tr>
                                                          <td width='70'></td>
                                                             <td align='center' width='530'>
                                                                 <p style="line-height:150%;font-size:16px;color:#757575;padding-bottom:16px;">
                                                                    Your booking request for vehicle <span style="color:#757575;font-weight:600;font-size:105%">{{carMakeModel}}</span> was rejected by the owner. Visit Goryd to make anPersonal request
                                                                </p>
                                                             </td>
                                                           <td  width='70'></td>
                                                        </tr>
                                                  </table>
                                              </td>
                                          </tr>
                                        </table>
                                      </div>
                                      <div  style="padding-top: 0px; position: relative;height:20px; background-color:#eeeeee;">
                                      </div>
                                      <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                      	<table style="background-color:#eeeeee;" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                            <tr>
                                                <td width='291' class="specbundle2" valign='top'>
                                                    <table style="min-width:291px;" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                        <tr>
                                                            <td height='15' colspan='3'></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan='3'>
                                                                <div style="padding-top: 0px;border:1px solid #e0e0e0; position: relative;height:70px; background-color:#1c3d86;">
                                                                    <p style="line-height:150%;font-size:20px;color:#eeeeee;padding:20px 0 0 20px;">
                                                                        Booking Details
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width='291'>
                                                                <table style="border:1px solid #e0e0e0;border-top:0;background-color:#ffffff;padding:16px;" width="291" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <img style="float:left;" src="http://www.myiconfinder.com/uploads/iconsets/256-256-5d549bce5810acf2482a10b0dc2346fd.png" height="24" width="24" />
                                                                            <p style='color:#9E9E9E;font-size:14px;line-height:19px;display:inline-block;padding-top:5px;padding-left:5px;'>Booking ID</p>
                                                                        </td>
                                                                        <td width="50%">
                                                                            <p style='color:#616161;font-size:14px;line-height:19px;padding-top:5px;'>{{bookingID}}</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="5px"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <img style="float:left;" src="http://nanaimoairporter.com/wp-content/uploads/2015/11/booking-300x300.png" height="28" width="28" />
                                                                            <p style='color:#9E9E9E;font-size:14px;line-height:19px;display:inline-block;padding-top:5px;padding-left:2px;'>Booking Date</p>
                                                                        </td>
                                                                        <td width="50%">
                                                                            <p style='color:#616161;font-size:14px;line-height:19px;padding-top:5px;'>{{bookingDate}}</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="5px"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td width="50%">
                                                                            <img style="float:left;" src="http://icons.iconarchive.com/icons/grafikartes/flat-retro-modern/256/time-machine-icon.png" height="24" width="24" />
                                                                            <p style='color:#9E9E9E;font-size:14px;line-height:19px;display:inline-block;padding-top:5px;padding-left:5px;'>Booking Status</p>
                                                                        </td>
                                                                        <td width="50%">
                                                                            <p style='color:#009688;font-size:14px;line-height:19px;padding-top:5px;'>{{status}}</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height='16'></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height='15' colspan='3'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td width='18' valign="top" class="specbundle2">&nbsp;</td>
                                                <td width='291' class="specbundle2" valign='top'>
                                                    <table style="min-width:291px;" width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                        <tr>
                                                            <td height='15' colspan='3'></td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan='3'>
                                                                <div style="padding-top: 0px;border:1px solid #e0e0e0; position: relative;height:70px; background-color:#1c3d86;">
                                                                    <p style="line-height:150%;font-size:20px;color:#eeeeee;padding:20px 0 0 20px;">
                                                                        Other Details
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td width='291'>
                                                                <table style="border:1px solid #e0e0e0;border-top:0;background-color:#ffffff;padding:16px;" width="291" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                                                  <tr>
                                                                      <td width="60%">
                                                                          <img style="float:left;" src="http://www.esfri.eu/sites/default/files/u4/calendar.png" height="24" width="24" />
                                                                          <p style='color:#9E9E9E;font-size:14px;line-height:19px;display:inline-block;padding-top:5px;padding-left:5px;'>Pickup Date</p>
                                                                      </td>
                                                                      <td width="40%">
                                                                          <p style='color:#616161;font-size:14px;line-height:19px;padding-top:5px;'>26th Aug 2016</p>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td height="7px"></td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td width="60%">
                                                                          <img style="float:left;" src="http://icons.iconarchive.com/icons/fps.hu/free-christmas-flat-circle/512/calendar-icon.png" height="24" width="24" />
                                                                          <p style='color:#9E9E9E;font-size:14px;line-height:19px;display:inline-block;padding-top:5px;padding-left:5px;'>Dropoff date</p>
                                                                      </td>
                                                                      <td width="40%">
                                                                          <p style='color:#616161;font-size:14px;line-height:19px;padding-top:5px;'>5th Jun 2017</p>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td height="7px"></td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td width="60%">
                                                                          <img style="float:left;" src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Car-icon.png" height="24" width="24" />
                                                                          <p style='color:#9E9E9E;font-size:14px;display:inline-block;line-height:19px;padding-top:5px;padding-left:5px;'>Car</p>
                                                                      </td>
                                                                      <td width="40%">
                                                                          <p style='color:#616161;font-size:14px;line-height:19px;padding-top:5px;'>{{vehicle}}</p>
                                                                      </td>
                                                                  </tr>
                                                                  <tr>
                                                                      <td height='16'></td>
                                                                  </tr>
                                                                </table>
                                                            </td>
                                                            <td width='20'></td>
                                                        </tr>
                                                        <tr>
                                                            <td height='10  ' colspan='3'></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                   </div>
                                  <div class="movableContent" style="border: 0px; padding-top: 0px; position: relative;">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                          <tr>
                                             <td height='20'> </td>
                                          </tr>
                                      </table>
                                  </div>
                                  <div class="movableContent" style="border:1px solid #e0e0e0;border-bottom:0; padding-top: 0px; position: relative;">
                                  	<table width="100%" border="0" style="border:1px solid #e0e0e0;border-top:0;" cellspacing="0" cellpadding="0" align="center" valign='top'>
                                              <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                                              <tr>
                                                <td width='16' class="spechide">&nbsp;</td>
                                                <td width="568" class="specbundle2">
                                                  <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' >
                                                    <tr>
                                                      <td align='left' valign='top'>
                                                        <div  >
                                                         <div  style='color:#555555;font-size:21px;font-weight:normal;'>
                                                          <h2 class='big'>Share your first car and unlock numerous benfits</h2>
                                                        </div>
                                                      </div>
                                                    </td>
                                                  </tr>
                                                  <tr><td height='16'>&nbsp;</td></tr>
                                                  <tr>
                                                    <td align='left' valign='top'>
                                                      <div  >
                                                       <div  style='color:#9E9E9E;font-size:13px;line-height:19px;'>
                                                         <ul>
                                                            <li>Earn upto &#8377 20000  weekly or even more by renting your car when you are not using it.</li>
                                                           <li>Rent your car, meet awesome people   and contribute to the community</li>
                                                           <li>Every car you wish to share on Goryd is equipped with GPS tracker and many more safety features.</li>
                                                          </ul>
                                                      </div>
                                                    </div>
                                                  </td>
                                                </tr>
                                                <tr><td height='20'>&nbsp;</td></tr>
                                                <tr>
                                                  <td align='right' valign='top' style='padding-bottom:8px;'>
                                                    <div  >
                                                     <div  >
                                                      <a target='_blank' class='link2' href="http://www.goryd.in/#/" style='padding:8px;background:#1c3d86;font-size:13px;color:#eeeeee;text-decoration:none;font-weight:bold;'>Find out more →</a>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                            </table>
                                          </td>
                                          <td width='16' class="spechide">&nbsp;</td>
                                        </tr>
                                        <tr><td colspan='3' height='16'>&nbsp;</td></tr>
                                      </table>
                                  </div>
                                  <div  style="border: 0px; padding-top: 0px; position: relative;">
                                  	<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" valign='top' class='bgBody' >
                                          <tr>
                                            <td valign='top' align='center'>
                                              <p style="margin-top:20px;"><a  style="color:#1c3d86; font-size:13px;line-height: 16px;text-decoration:none;"href="http://www.goryd.in/">For further inquiry, visit our website</a></p>
                                              <p style="color:#9E9E9E; font-size:13px;line-height: 16px;">Copyright &copy; Eneo Technologies Pvt. Ltd. All rights reserved.</br>Have a question? Email us at<a href="mailto:support@goryd.in" style="color:#1c3d86; font-size:13px;line-height: 16px;text-decoration:none;"> support@goryd.in</a>
                                            </td>
                                          </tr>
                                      </table>
                                  </div>
                                  <tr><td colspan='3' height='40' bgcolor="#EEEEEE">&nbsp;</td></tr>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                </td>
                <td valign="top" class="spechide">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                          <tr>
                            <td height='130' bgcolor='#1c3d86'>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                        </tbody>
                  </table>
            </td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</tbody>
</table>
</body>
</html>
